Repository gbtunney/snailicide-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --debug, prettier --write

fix(root): added nvmrc
  .nvmrc
Due: none

fix(root): removed bash specific syntax
  .husky/pre-commit
  .husky/pre-push
Due: prettier --write

style(root,g-library,g-windi,cli-app): formatting
  package.json
  packages/build-config/package.json
  packages/build-config/src/prettier/index.ts
  packages/cli-app/package.json
  packages/cli-template/package.json
  packages/cli-template/templates/base/package.json
  packages/g-library/package.json
  packages/g-shopify-library/package.json
  packages/g-windi/package.json
  packages/vite-plugin-shopify-liquid-modules/package.json
  packages/vite-plugin-shopify-theme-schema/package.json
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

chore(build-config,cli-app): dep update
  package.json
  packages/build-config/package.json
  packages/cli-app/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(cli-app): doccs update
  .nvmrc
  packages/cli-app/docs/type-aliases/appConfigSchema.md
Due: prettier --write

release(root): release
  .changeset/dirty-dots-peel.md
Due: prettier --write

release(root): release actiion ttestt
  .changeset/pink-baths-draw.md
Due: prettier --write

release(root): trying again
  .github/workflows/changeset-release.yml
Due: prettier --write

release(root): reverttiing actioins
  .github/workflows/changeset-release.yml
Due: prettier --write

fix(cli-app): fixed flakey tests, updated packages to have nx
  packages/cli-app/cli.test.ts
  packages/cli-app/package.json
  packages/g-library/package.json
  packages/g-shopify-library/package.json
  packages/g-windi/package.json
  packages/vite-plugin-shopify-liquid-modules/docs/README.md
  packages/vite-plugin-shopify-liquid-modules/docs/_media/schema.ts
  packages/vite-plugin-shopify-liquid-modules/docs/_media/settings.ts
  packages/vite-plugin-shopify-theme-schema/package.json
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

feat(g-windi): new package from boilerplatte
  packages/g-windi/.gitignore
  packages/g-windi/jsdoc.json
  packages/g-windi/package.json
  packages/g-windi/rollup.config.ts
  packages/g-windi/src/composable/index.ts
  packages/g-windi/src/composable/use-chroma.ts
  packages/g-windi/src/composable/use-color-scale.test.ts
  packages/g-windi/src/composable/use-color-scale.ts
  packages/g-windi/src/composable/use-config-defaults.ts
  packages/g-windi/src/composable/use-custom-plugins.ts
  packages/g-windi/src/composable/use-plugin-utilities.ts
  packages/g-windi/src/composable/use-windi-css.ts
  packages/g-windi/src/css.color.special.ts
  packages/g-windi/src/index.ts
  packages/g-windi/src/tsconfig.json
  packages/g-windi/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

feat(g-windi): added new funcctoins
  packages/g-windi/package.json
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/index.ts
  packages/g-windi/src/lib/palattes.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.ts
  packages/g-windi/src/lib/validators.ts
Due: eslint --fix --debug, prettier --write

feat(g-windi): added contrast functions
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/validators.ts
Due: eslint --fix --debug, prettier --write

feat(g-windi): added contrast and normalize functions
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/types.ts
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

feat(g-windi): finiished ccontrast functions
  packages/g-windi/.gitignore
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.ts
Due: eslint --fix --debug, prettier --write

test(g-windi): unit tests for lib
  packages/g-windi/src/lib/contrast.test.ts
  packages/g-windi/src/lib/utilities.test.ts
Due: eslint --fix --debug, prettier --write

fix(g-windi): fixed logic iin search and threshold
  packages/g-windi/package.json
  packages/g-windi/src/index.ts
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.ts
Due: eslint --fix --debug, prettier --write

feat(g-windi): added palatte funcctions, uniit tests and coverage
  packages/g-windi/debug-complement.ts
  packages/g-windi/debug-test.ts
  packages/g-windi/package.json
  packages/g-windi/src/index.ts
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/constants.ts
  packages/g-windi/src/lib/contrast.test.ts
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/harmonies.test.ts
  packages/g-windi/src/lib/harmonies.ts
  packages/g-windi/src/lib/palattes.test.ts
  packages/g-windi/src/lib/palattes.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.test.ts
  packages/g-windi/src/lib/utilities.ts
  packages/g-windi/test-adjusthue.ts
  packages/g-windi/test-swatch.ts
  packages/g-windi/test-verbose-complement.ts
  packages/g-windi/typedoc.config.ts
  packages/g-windi/vitest.config.ts
Due: eslint --fix --debug, prettier --write

style(root): added ebug flag to esliintt
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

feat(g-windi): main rework of g-windi
  packages/g-windi/debug-complement.ts
  packages/g-windi/debug-test.ts
  packages/g-windi/src/index.ts
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/constants.ts
  packages/g-windi/src/lib/contrast.test.ts
  packages/g-windi/src/lib/contrast.ts
  packages/g-windi/src/lib/convert.ts
  packages/g-windi/src/lib/core.ts
  packages/g-windi/src/lib/harmonies.test.ts
  packages/g-windi/src/lib/harmonies.ts
  packages/g-windi/src/lib/palattes.test.ts
  packages/g-windi/src/lib/palattes.ts
  packages/g-windi/src/lib/test.round.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.test.ts
  packages/g-windi/src/lib/utilities.ts
  packages/g-windi/src/lib/validators.ts
  packages/g-windi/test-adjusthue.ts
  packages/g-windi/test-swatch.ts
  packages/g-windi/test-verbose-complement.ts
Due: eslint --fix --debug, prettier --write

fix(g-windi): brought back some og old unit tests and fixrf
  packages/g-windi/src/lib/adjustments.test.ts
  packages/g-windi/src/lib/core.ts
  packages/g-windi/src/lib/harmonies.test.ts
  packages/g-windi/src/lib/palattes.test.ts
  packages/g-windi/src/lib/swatch.test.ts
  packages/g-windi/src/lib/test.round.ts
  packages/g-windi/src/lib/utilities.ts
  packages/g-windi/src/lib/validators.ts
  packages/g-windi/test-swatch.ts
Due: eslint --fix --debug, prettier --write

feat(g-windi): trying to fiix adjust functions
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/constants.ts
  packages/g-windi/src/lib/core.ts
  packages/g-windi/src/lib/test.round.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.ts
Due: eslint --fix --debug, prettier --write

feat(g-windi): asded more normalize functions for coorddinates
  packages/g-windi/package.json
  packages/g-windi/src/lib/adjustments.test.ts
  packages/g-windi/src/lib/adjustments.ts
  packages/g-windi/src/lib/adjustments2.test.ts
  packages/g-windi/src/lib/constants.ts
  packages/g-windi/src/lib/core.ts
  packages/g-windi/src/lib/test.round.ts
  packages/g-windi/src/lib/types.ts
  packages/g-windi/src/lib/utilities.ts
Due: eslint --fix --debug, prettier --write

feat(g-library): update for zod 4
  packages/g-library/package.json
  packages/g-library/src/node/zod.node.ts
  packages/g-library/src/zod_helpers/schemas.test.ts
  packages/g-library/src/zod_helpers/schemas.ts
Due: eslint --fix --debug, prettier --write

test(g-library): updated test nodes
  packages/g-library/src/node/zod.node.test.ts
  packages/g-library/src/node/zod.node.ts
Due: eslint --fix --debug, prettier --write

feat(g-library): added asssertation wrapper functions
  packages/g-library/src/typeguard/assertation.test.ts
  packages/g-library/src/typeguard/assertation.ts
  packages/g-library/src/typeguard/index.ts
  packages/g-library/src/typeguard/utility.typeguards.ts
  packages/g-library/src/zod_helpers/schemas.test.ts
Due: eslint --fix --debug, prettier --write

fix(g-library): excluded assertation test file
  packages/g-library/src/tsconfig.json
Due: prettier --write

feat(cli-app): added new meta, schema sysstem and logger which need to be moved
  packages/cli-app/package.json
  packages/cli-app/rollup.config.ts
  packages/cli-app/src/app-config.ts
  packages/cli-app/src/app-options.ts
  packages/cli-app/src/app.test.ts
  packages/cli-app/src/app.ts
  packages/cli-app/src/example.ts
  packages/cli-app/src/helpers.ts
  packages/cli-app/src/index.ts
  packages/cli-app/src/junk.ts
  packages/cli-app/src/logger.ts
  packages/cli-app/src/meta.ts
  packages/cli-app/src/string-utils.ts
  packages/cli-app/src/tsconfig.json
  packages/cli-app/src/zod-schema.ts
Due: eslint --fix --debug, prettier --write

feat(cli-app): added logger, new meta stuff etc
  packages/cli-app/package.json
  packages/cli-app/src/app-config.ts
  packages/cli-app/src/app.ts
  packages/cli-app/src/chalk-utils.test.ts
  packages/cli-app/src/chalk-utils.ts
  packages/cli-app/src/color-utilities.ts
  packages/cli-app/src/helpers.ts
  packages/cli-app/src/junk.ts
  packages/cli-app/src/logger.ts
  packages/cli-app/src/meta.ts
  packages/cli-app/src/numeric-utilities.ts
  packages/cli-app/src/string-utils.ts
  packages/cli-app/src/zod-schema.ts
Due: eslint --fix --debug, prettier --write

feat(cli-app): cleaned up help files and init order
  packages/cli-app/src/app.ts
  packages/cli-app/src/chalk-utils.ts
  packages/cli-app/src/color-utilities.ts
  packages/cli-app/src/example.ts
  packages/cli-app/src/logger.ts
  packages/cli-app/src/string-utils.ts
  packages/cli-app/src/zod-schema.ts
Due: eslint --fix --debug, prettier --write

fix(vite-shopify-modules): fixed error with curator publish_id
  packages/vite-plugin-shopify-liquid-modules/example_modules/gbt-curator/settings.ts
Due: eslint --fix --debug, prettier --write

feat(g-library): added date
  packages/g-library/package.json
  packages/g-library/src/date/date.ts
  packages/g-library/src/number/misc.test.ts
  packages/g-library/src/number/transform-equality.test.ts
Due: eslint --fix --debug, prettier --write

feat(g-library): library updates
  packages/g-library/src/date/date.ts
  packages/g-library/src/number/idea.md
  packages/g-library/src/number/transform-equality.test.ts
  packages/g-library/src/number/transform.test.ts
  packages/g-library/src/number/validators.test.ts
  packages/g-library/src/number/validators.ts
  packages/g-library/src/regexp/dictionary.test.ts
  packages/g-library/src/regexp/dictionary.ts
  packages/g-library/src/string/string.ts
  packages/g-library/src/string/validators.ts
  packages/g-library/src/tsconfig.json
  packages/g-library/src/typeguard/assertation.test.ts
  packages/g-library/src/typeguard/assertation.ts
  packages/g-library/src/typeguard/validator-factory.examples.test.ts
  packages/g-library/src/typeguard/validator-factory.examples.ts
  packages/g-library/src/typeguard/validator-factory.test.ts
  packages/g-library/src/typeguard/validator-factory.ts
Due: eslint --fix --debug, prettier --write

feat(root): stupid crap with markdown cli trash - annoying
  .github/instructions/default.instructions.md
  .lintstagedrc.mts
  .markdownlint-cli2.mts
  .vscode/extensions.json
  eslint.config.js
Due: eslint --fix --debug, prettier --write

feat(root): make ESLint non-blocking on wip/* branches, keep Prettier, markdownlint warn-only
  .lintstagedrc.mts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --debug, prettier --write

feat(build-config): updated eslint comments and stub for logger
  packages/build-config/src/eslint/rules/eslint-comments.ts
  packages/build-config/src/logger/index.ts
Due: eslint --fix --debug, prettier --write

feat(build-config): added logger , updated to zod4
  packages/build-config/package.json
  packages/build-config/rollup.config.ts
  packages/build-config/src/logger/logger.ts
  packages/build-config/src/logger/pretty.print.ts
  packages/build-config/src/logger/utilities/chalk.test.ts
  packages/build-config/src/logger/utilities/chalk.ts
  packages/build-config/src/logger/utilities/color.ts
  packages/build-config/src/logger/utilities/numeric.ts
  packages/build-config/src/logger/utilities/string.ts
  packages/build-config/src/markdownlint/index.ts
  packages/build-config/src/npm/npm.package.ts
  packages/build-config/src/rollup/index.ts
  packages/build-config/src/tsconfig.json
  packages/build-config/src/utilities.ts
  packages/build-config/src/vitest/index.ts
Due: eslint --fix --debug, prettier --write

Path conditions:
  eslint --fix --debug: any of: *.{ts,cts,mts,js,cjs,mjs}
  prettier --write: (((any of: *.{ts,cts,mts,js,cjs,mjs}) or (any of: *.{sh,html,json,yaml,yml,graphql,md})) or (any of: .husky/**/*)) or (any of: .gitignore)
